.main {
    background: linear-gradient(135deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    padding: 250px 0;
    min-width: var(--min-width);
}

.hero {
    color: var(--light-color);
    padding-bottom: 150px;
}

.hero__title {
    font-weight: 700;
    font-size: clamp(40px, calc( (100vw - 360px)/(1440 - 360) * (48 - 40) + 40px ),48px);
    margin-bottom: 20px;
    animation: fadeInUp 1s ease;
}

.hero__subtitle {
    font-size: clamp(20px, calc( (100vw - 360px)/(1440 - 360) * (25 - 20) + 20px ), 25px);
    opacity: 0.9;
    animation: fadeInUp 1s ease 0.2s both;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
