*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    line-height: 1.5;
}

body {
    margin: 0;
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    color: var(--dark-color);
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
    cursor: pointer;
}

button {
    font-family: inherit;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.page--no-scroll {
    overflow: hidden;
}