.btn {
    padding: 10px 25px;
    border-radius: var(--radius-sm);
    font-weight: 600;
    font-size: 1.4rem;
    position: relative;
    overflow: hidden;
    transition: all var(--transition-base);
}

.btn--filled {
    background-color: var(--primary-color);
    color: var(--light-color);
    width: 100%;
    font-size: clamp(15px, calc( (100vw - 360px)/(1440 - 360) * (20 - 15) + 15px ),20px);
    margin-top: 20px;
}

.btn--filled:hover,
.btn--filled.btn--active {
    background-color: var(--primary-dark-color);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px var(--primary-light-color);
}


.btn--outlined {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px var(--primary-color);
}

.btn--outlined::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: var(--primary-color);
    transform: translate(-50%, -50%);
    transition: width var(--transition-base), height var(--transition-base);
    z-index: -1;
}

.btn--outlined:hover::before {
    width: 200px;
    height: 200px;
}

.btn--outlined:hover {
    color: var(--light-color);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px var(--primary-light-color);
}

.btn--outlined.btn--active {
    color: var(--light-color);
    background-color: var(--primary-dark-color);
    box-shadow: 0 5px 15px var(--primary-light-color);
    transform: translateY(0);
}


@media (max-width: 768px) {
    .btn {
        padding: 8px 16px;
    }
}

@media (max-width: 510px) {
    .btn--outlined {
        width: calc(50% - 6px);
        padding: 8px 12px;
        box-sizing: border-box;
        text-align: center;
    }
}